﻿@using TetradaOnlineShop.Client.Utils
@using TetradaOnlineShop.Client.Models

@model TetradaOnlineShop.Client.Models.CartItemsViewModel
@section scripts{
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/notifications/noty.min.js")"></script>

    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/libraries/jquery_ui/interactions.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/libraries/jquery_ui/widgets.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/libraries/jquery_ui/effects.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/extensions/mousewheel.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/ui/fab.min.js")"></script>


    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    @*<script src="@PathUtil.ConvertJsOrCss("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>*@




    @*<script type="text/javascript" src="assets/js/core/libraries/jquery_ui/widgets.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/effects.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/extensions/mousewheel.min.js"></script>*@


    <script>
        var indexPageUrl = '@Url.Action("Index","Products")';

        $('#cart-item-count-link span').text($('#CartItemCount').val());


        $('#cart-items input').change(function () {
            refreshCost();
        });

      

        $('#checkout-order').on('click', function () {
       
          var validator=  $("#cart-items-form").validate({
                focusInvalid: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                }
            });

            if ($('#cart-items-form').valid()) {

                $('#checkout-order').attr('disabled', 'disabled');

                var form = $('#cart-items-form')[0]; 
                var formdata = new FormData(form);
                formdata.__RequestVerificationToken = $('#cart-items-form input[name=__RequestVerificationToken]').val();

                $.ajax({
                    url: '@Url.Action("CreateOrder", "Products")',
                    dataType: "json",
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    data: formdata,
                    success: function (response) {
                        if (response.result) {
                            noty({
                                width: 200,
                                text: 'Sifarişiniz təsdiqləndi. Sizinlə tezliklə əlaqə saxlanılacaq.',
                                type: 'success',
                                dismissQueue: true,
                                timeout: 4000,
                                layout: 'top'
                            });
                            setTimeout(function () {
                                window.location.href = indexPageUrl;
                            }, 3000);

                        }
                        else {
                            noty({
                                width: 200,
                                text: 'Sifariş təsdiqlənərkən xəta baş verdi',
                                type: 'error',
                                dismissQueue: true,
                                timeout: 4000,
                                layout: 'top'
                            });
                        }
                    }

                });

            } else {
                $("html, body").animate({ scrollTop: $(document).height() - $(window).height() }); 
                validator.focusInvalid();
             
              
            }
          
        });

        function refreshCost() {
             var i = 0, totalAmount = 0, totalQuantity = 0,documentDiscount=0,totalGrandAmount;

            while ($("#Products_" + i + "__Quantity").val()) {

                totalQuantity += parseInt($("#Products_" + i + "__Quantity").val());
                totalAmount += parseInt($("#Products_" + i + "__Quantity").val()) * parseFloat($("#Products_" + i + "__TotalCost").val());
                i++;
            }

            $('#total-item-amount span').html(totalAmount.toFixed(2) + ' AZN');
            $('#total-item-quantity').html(totalQuantity + ' ədəd');
            $('#cart-item-count-link span').text(totalQuantity);
          
            $.ajax({
                url: '@Url.Action("GetDocumentDiscount", "Products")',
                type: 'POST',
                data: {
                    totalAmount:totalAmount
                },
                success: function (response) {
                    documentDiscount = response.discount;
                    totalGrandAmount = (totalAmount - totalAmount * documentDiscount / 100);
                    $('#Order_DocumentDiscount').val(documentDiscount);
                    $('#Order_TotalGrandAmount').val(totalGrandAmount);

                    $('#document-discount span').html(documentDiscount.toFixed(2) + ' %');

                    $('#grand-amount span').html(totalGrandAmount.toFixed(2) + ' AZN');

                }
            });
        }

        function deleteCartItem(buttonName) {
            var res = buttonName.split("-");
            var selectedDivId = res[2];
            $.each($('div[name="cart-item"]'), function(j, cartItem) {
                var currentDivId = $(this).attr("id");

                if(parseInt($(this).attr("id")) == parseInt(selectedDivId)) {
                $(this).attr("id", selectedDivId).remove();

                } else if (parseInt($(this).attr("id")) > parseInt(selectedDivId)) {
                    $(':input, :button', cartItem).each(function () {
                    //change name of element
                    var currentName = $(this).attr("name");
                    var newName = currentName.replace(currentDivId, currentDivId - 1);
                    $(this).attr("name", newName);


                    //change id of element
                    var currentId = $(this).attr("id");
                    if (currentId !== undefined) {
                        var newId = currentId.replace(currentDivId, currentDivId - 1);

                        $(this).attr("id", newId);

                    }

                });
                    $(this).attr("id", currentDivId - 1);
                }


            });

            refreshCost();
    }


        $("input[type='number']").spinner({
            stop: function (event, ui) {
                refreshCost();
            }
        });

        $('.format-phone-number').formatter({
            pattern: '({{999}}) {{999}} - {{9999}}'
        });


        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 40) {
                $('.fab-menu-bottom-right').addClass('reached-bottom');
            }
            else {
                $('.fab-menu-bottom-right').removeClass('reached-bottom');
            }
        });

    </script>

}


@section styles{


    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }


        .ui-spinner {
            width: 20%;
            margin-top: 20px
        }

        .ui-spinner-input {
            width: 130%
        }

        .fab-menu-bottom-right.reached-bottom {
            bottom: 60px;
        }
    </style>


}
<form class="form-horizontal" id="cart-items-form" method="post">
    @Html.AntiForgeryToken()
    @Html.Hidden("CartItemCount")
    <div class="panel panel-flat">
        @*<div class="panel-heading">
                <h3><b>Sifarişlər</b></h3>
            </div>*@
        <div class="panel-body">
            <div class="row">


                <div class="col-md-6" id="cart-items">
                    <fieldset>
                        <legend class="text-semibold"><i class="icon-bag position-left"></i>Sifarişlər</legend>
                        @if (Model.Products != null)
                        {
                            for (int i = 0; i < Model.Products.Count; i++)
                            {
                                @Html.HiddenFor(x => x.Products[i].Oid)

                                <div class="panel panel-flat blog-horizontal blog-horizontal-3 blog-horizontal-xs" name="cart-item" id="@i">
                                    <div class="panel-heading">
                                        @*<button class="btn btn-danger btn-rounded pull-right" type="button" id="btn-delete-cart-item">
                                                <i class="icon-trash position-left"></i>
                                            </button>*@
                                        <button type="button" class="btn border-warning text-warning-600 btn-flat btn-icon pull-right" name="delete-btn-@i" id="delete-btn-@i" onclick="deleteCartItem(this.name)"><i class="icon-trash"></i></button>
                                    </div>
                                    <div class="panel-body">
                                        <div class="thumb">
                                            <img src="@Url.Content(Model.Products[i].PhotoName)" alt="" class="img-responsive">
                                        </div>
                                        <div class="blog-preview">
                                            <div class="content-group-sm">
                                                <h5 class="blog-title text-semibold">
                                                    <a href="#">@Model.Products[i].ProductName</a>
                                                    <picture></picture>
                                                </h5>
                                                @Html.HiddenFor(x => Model.Products[i].TotalCost)
                                                @Html.HiddenFor(x => Model.Products[i].SalePrice)
                                                @Html.HiddenFor(x => Model.Products[i].Discount)

                                                @if (Model.Products[i].Discount > 0)
                                                {
                                                    <b style="text-decoration:line-through;margin-top:20px;color:#7A7A7A">@string.Format("{0:n2}", Model.Products[i].SalePrice) AZN</b> <b>@string.Format("{0:n2}", Model.Products[i].SalePrice - Model.Products[i].SalePrice * Model.Products[i].Discount / 100) AZN</b>

                                                    <p class="pull-right" style="color:white;margin-top:10px;font-size:large;background-color:peru;border-radius:2px"><b>-@string.Format("{0:n0}", Model.Products[i].Discount)%</b></p>
                                                }
                                                else
                                                {
                                                    <b style="margin-top:20px;">@string.Format("{0:n2}", Model.Products[i].SalePrice) AZN</b>

                                                }

                                                @Html.TextBoxFor(x => x.Products[i].Quantity, new { @type = "number", @class = "form-control"@*, @style = "margin-top:10px;"*@})


                                            </div>

                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </fieldset>



                </div>

                <div class="col-md-6">
                    <fieldset>
                        <legend><i class=" icon-price-tag2 position-left"> </i> Yekun qiymət</legend>

                        <div class="form-group" style="font-size:20px;font-weight:bold">
                            <label class="col-lg-3 control-label" id="total-item-quantity">@Model.CartItemCount ədəd</label>
                            <div class="col-lg-9">
                                <div class="form-control-static" id="total-item-amount">
                                    <span>@string.Format("{0:n2}", Model.TotalAmount) AZN</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="font-size:20px;font-weight:bold">
                            <label class="col-lg-3 control-label">Endirim</label>
                            <div class="col-lg-9">
                                @Html.Hidden("Order.DocumentDiscount")
                                @Html.Hidden("Order.TotalGrandAmount")

                                <div class="form-control-static" id="document-discount">
                                    <span>@string.Format("{0:n2}", Model.Order.DocumentDiscount) %</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="font-size:20px;font-weight:bold">
                            <label class="col-lg-3 control-label">Yekun məbləğ</label>
                            <div class="col-lg-9">
                                <div class="form-control-static" id="grand-amount">
                                    <span>@string.Format("{0:n2}", Model.Order.TotalGrandAmount) AZN</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend class="text-semibold"><i class="icon-address-book position-left"></i> Əlaqə məlumatı</legend>
                        <div class="form-group" id="customer-name-div">
                            <label class="col-lg-3 control-label">Ad:</label>
                            <div class="col-lg-9">

                                @Html.TextBoxFor(x => Model.Order.CustomerName, new { @class = "form-control", @placeholder = "Ad" })

                                <span class="text-danger"> @Html.ValidationMessageFor(x => Model.Order.CustomerName) </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email:</label>
                            <div class="col-lg-9">

                                @Html.TextBoxFor(x => Model.Order.CustomerEmail, new { @class = "form-control", @placeholder = "Email" })
                                <span class="text-danger"> @Html.ValidationMessageFor(x => Model.Order.CustomerEmail) </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Telefon:</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(x => Model.Order.CustomerPhone, new { @class = "form-control format-phone-number", @placeholder = "Telefon" })
                                <span class="text-danger"> @Html.ValidationMessageFor(x => Model.Order.CustomerPhone) </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ünvan:</label>
                            <div class="col-lg-9">

                                @Html.TextBoxFor(x => Model.Order.CustomerAddress, new { @class = "form-control", @placeholder = "Ünvan" })
                                <span class="text-danger"> @Html.ValidationMessageFor(x => Model.Order.CustomerAddress) </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Qeyd:</label>
                            <div class="col-lg-9">

                                @Html.TextAreaFor(x => Model.Order.Note, new { @class = "form-control", @placeholder = "Qeyd",@rows="5",@cols="5" })
                                <span class="text-danger"> @Html.ValidationMessageFor(x => Model.Order.Note) </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">

                                <button type="button" class="btn bg-teal-400  btn-rounded   fab-menu-fixed fab-menu-bottom-right" id="checkout-order">
                                    Sifarişi təsdiqlə
                                    @*<i class="icon-arrow-right14 position-right"></i>*@
                                </button>



                            </div>
                        </div>

                    </fieldset>

                </div>

            </div>
        </div>


    </div>


</form>

