﻿@using TetradaOnlineShop.Client.Utils
@using TetradaOnlineShop.Client.Models


@model ProductDetailsViewModel

@{
                /**/

                ViewBag.Title = "Index";
}
@section scripts{
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/forms/styling/uniform.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/forms/styling/switchery.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/notifications/pnotify.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/notifications/jgrowl.min.js")"></script>


    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/modernizr.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/xzoom.min.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/jquery.hammer.min.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/xzoom.min.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/foundation.min.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/setup.js")" type="text/javascript"></script>




    <script>
        var addProductToCartUrl = '@Url.Action("AddToCart", "Products")';
        $('#cart-item-count-link span').text($('#CartItemCount').val());


        $('#btn-add-to-cart').on('click', function () {
            var productOid = $(this).attr("data-product-oid");

            var quantity = $('#order-quantity').val();
            if (Math.floor(quantity) == quantity && $.isNumeric(quantity)) {
                $.ajax({
                    url: addProductToCartUrl,
                    type: 'POST',
                    data: {
                        productOid: productOid,
                        quantity: quantity
                    },
                    success: function (response) {
                        if (response.result) {
                            $.jGrowl('Sifarişə əlavə edildi', {
                                position: 'bottom-right',
                                theme: 'bg-success',
                                header: 'Məlumat'
                            });
                            $('#cart-item-count-link span').text(response.itemCount);
                        }
                        else {
                            $.jGrowl('Xəta baş verdi', {
                                position: 'bottom-right',
                                theme: 'bg-danger',
                                header: 'Məlumat'
                            });
                        }

                    }
                });
            } else {

                $.jGrowl('Sayı daxil edin', {
                    position: 'bottom-right',
                    theme: 'bg-danger',
                    header: 'Məlumat'
                });
            }


        });

    </script>

}


@section styles{

    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/normalize.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/foundation.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/demo.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/xzoom/xzoom.css")" rel="stylesheet" />



}


@Html.Hidden("CartItemCount")

@if (Model.PhotoUrls.Count > 0)
{
    <section id="default" class="padding-top0">
        <div class="row">
            <div class="large-12 column"> </div>
            <div class="large-5 column">
                <div class="xzoom-container">
                    <img class="xzoom" id="xzoom-default" src="@Url.Content(Model.PhotoUrls[0])" xoriginal="@Url.Content(Model.PhotoUrls[0])" />
                    <div class="xzoom-thumbs">
                        @for (int i = 0; i < Model.PhotoUrls.Count; i++)
                        {
                            <a href="@Url.Content(Model.PhotoUrls[i])"><img class="xzoom-gallery" width="80" src="@Url.Content(Model.PhotoUrls[i])" xpreview="@Url.Content(Model.PhotoUrls[i])"></a>


                        }

                    </div>
                </div>
            </div>
            <div class="large-7 column">
                <h4>@Model.ProductInfo.ProductName</h4>

                @if (Model.ProductInfo.Discount > 0)
                {
                    <p style="text-decoration:line-through;color:#7A7A7A;">@string.Format("{0:n2}", Model.ProductInfo.SalePrice) AZN </p>

                    <p>
                        <b style="color:peru">@string.Format("{0:n2}", Model.ProductInfo.SalePrice - Model.ProductInfo.SalePrice * Model.ProductInfo.Discount / 100) AZN</b>
                        <b style="color:white;font-size:large;background-color:peru;margin-left:20px;padding:2px;border-radius:2px">-@string.Format("{0:n0}", Model.ProductInfo.Discount)%</b>
                    </p>


                }
                else
                {
                    <b>@string.Format("{0:n2}", Model.ProductInfo.SalePrice) AZN </b>
                }

                <br />
                <div class="form-group">
                    <label>Sayı </label>

                    <div class="input-group" style="width:200px;z-index:0">
                        <input type="number" class="form-control" value="1" id="order-quantity" style="width:80px">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btn-add-to-cart" data-product-oid="@Model.ProductInfo.Oid">
                                <i class="icon-cart-add position-left"></i>
                                Əlavə et
                            </button>
                        </span>
                    </div>
                </div>

                <p>@Model.ProductInfo.Decription</p>
            </div>
        </div>
    </section>
}