﻿@using TetradaOnlineShop.Client.Utils
@using TetradaOnlineShop.Client.Models


@model ProductListViewModel
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/pages/gallery.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/pagination/bootpag.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/pagination/bs_pagination.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/forms/selects/select2.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/extensions/cookie.js")"></script> 
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/notifications/jgrowl.min.js")"></script>


    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/jquery.ellipsis.js")" type="text/javascript"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/Custom/products.js")" type="text/javascript"></script>


    <script>

        var addProductToCartUrl = '@Url.Action("AddToCart", "Products")';

        $('.bootpag-flat').bootpag({
            total: @Model.TotalPageCount,
            page:@Model.PageNumber,
            maxVisible: 20,
            leaps: false
        }).on("page", function (event, num) {
            $("input[name='PageNumber']").val(num);
            $("#filter-products").trigger("click");
        }).children('.pagination').addClass('pagination-flat pagination-sm');


        $('.product-description').ellipsis({
            lines: 2,             // force ellipsis after a certain number of lines. Default is 'auto'
            ellipClass: 'ellip',  // class used for ellipsis wrapper and to namespace ellip line
            responsive: true      // set to true if you want ellipsis to update on window resize. Default is false
        });





    </script>


}

@section styles{


    <style>
        .ellip {
            display: block;
            height: 100%;
        }

        .ellip-line {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            max-width: 100%;
        }

        .ellip,
        .ellip-line {
            position: relative;
            overflow: hidden;
        }
    </style>

}




    <div class="panel panel-body border-top-teal">
    
        <form class="form-horizontal" id="ProductSearchForm" action="@Url.Action("Index", "Products")" method="get">
            
            <div class="panel panel-default @((Request.Cookies.Get("productsFilterState") == null || int.Parse(Request.Cookies["productsFilterState"].Value) == 1) ? " panel-collapsed " : string.Empty)">
                <div class="panel-heading">
                    <h6 class="panel-title">Axtarış</h6>

                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                        </ul>
                    </div>
                </div>



                <div class="panel-body">
                    <input type="hidden" name="PageNumber" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Məhsulun kateqoriyası</label>
                                <div class="col-lg-9">
                                    <select name="ProductCategory" class="form-control" id="product-category-filter">
                                        <option value="@string.Empty"></option>

                                        @foreach (var item in Model.ProductCategories)
                                        {
                                            <option value="@item.Oid" @(Model.ProductCategory == item.Oid ? " selected" : string.Empty)>@item.Name</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Məhsulun adı</label>
                                <div class="col-lg-9">
                                    <input type="text" name="Name" value="@Model.Name" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="text-right">
                        <button id="clear-filter-fields" type="button" class="btn btn-danger btn-rounded">
                            <i class="icon-cancel-circle2 position-left"></i>
                            Təmizlə
                        </button>

                        <button id="filter-products" type="submit" class="btn btn-success btn-rounded">
                            <i class="fa fa-filter position-left"></i>
                            Axtar
                        </button>
                    </div>
                </div>


            </div>
        </form>


        <div class="well content-group content-flat">
            @Html.Hidden("CartItemCount")
            @Html.Hidden("CustomerInfoFillingStatus")

            @if (Model.Products.Count > 0)
            {
                @Html.Raw("<div class=\"row\">")
                for (int i = 0; i < Model.Products.Count; i++)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="thumbnail">
                            <div class="thumb">
                                <img src="@Url.Content(Model.Products[i].PhotoName)" alt="" height="300" width="300" style="max-width:300px;min-width:300px;width:auto;height:auto">
                                <div class="caption-overflow">
                                    <span>
                                        <a href="@Url.Content(Model.Products[i].PhotoName)" data-popup="lightbox" class="btn border-white text-white btn-flat btn-icon btn-rounded"><i class="icon-zoomin3"></i></a>
                                        <a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5" onclick="AddToCart('@Model.Products[i].Oid')"><i class="icon-cart-add"></i></a>
                                    </span>
                                </div>

                            </div>
                            <div class="caption">
                                <h6 class="no-margin-top text-semibold">
                                    <a href="@Url.Action("Details","Products",new { productOid=Model.Products[i].Oid})" class="text-default">@Model.Products[i].ProductName</a>

                                    @*<a href="#" class="text-muted"><i class="icon-download pull-right"></i></a>*@

                                </h6>

                                @if (Model.Products[i].Discount > 0)
                                {
                                    <b style="text-decoration:line-through;color:#7A7A7A">@string.Format("{0:n2}", Model.Products[i].SalePrice) AZN</b> <b>@string.Format("{0:n2}", Model.Products[i].SalePrice - Model.Products[i].SalePrice * Model.Products[i].Discount / 100) AZN</b>

                                    <p class="pull-right" style="color:white;font-size:large;background-color:peru;border-radius:2px"><b>-@string.Format("{0:n0}", Model.Products[i].Discount)%</b></p>
                                }
                                else
                                {
                                    <b>@string.Format("{0:n2}", Model.Products[i].SalePrice) AZN</b>

                                }
                                <br>
                                <a href="@Url.Action("Details","Products",new { productOid=Model.Products[i].Oid})"><p class="product-description">@Model.Products[i].Decription</p></a>
                            </div>
                        </div>
                    </div>

                    if (i > 0 && (i + 1) % 4 == 0)
                    {
                        @Html.Raw("</div>")
                        @Html.Raw("<div class=\"row\">")

                    }



                }
                @Html.Raw("</div>")

            }




        </div>
        <div class="text-center bootpag-flat"></div>
    </div>


