﻿@using TetradaOnlineShop.Client.Utils;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <style>
        .error {
            color: red;
            background-color: #acf;
        }
    </style>
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/css/icons/icomoon/styles.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/css/bootstrap.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/css/core.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/css/components.css")" rel="stylesheet" />
    <link href="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/css/colors.css")" rel="stylesheet" />

    @RenderSection("styles", required: false)


    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/loaders/pace.min.js")"></script>

    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/libraries/jquery.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/libraries/bootstrap.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/loaders/blockui.min.js")"></script>

    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/plugins/forms/inputs/formatter.min.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/limitless/assets/js/core/app.js")"></script>
    <script src="@PathUtil.ConvertJsOrCss("~/Scripts/custom/common.js")"></script>


    
</head>
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

     @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap"
        @RenderSection("scripts", required: false)
    </body>*@

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            @*<a  href="@Url.Action("Index", "Home")"><img src="~/images/uams_icon.png" alt=""></a>*@
            @*<ul class="nav navbar-nav pull-right visible-xs-block">*@
            @*<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>*@
            @*</ul>*@


        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Products")"><img src="~/Scripts/custom/images/online_shop.png" alt=""></a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                @*<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>*@
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="@Url.Action("CartItems","Products")" id="cart-item-count-link">
                        <i class="icon-cart5"></i>
                        <span class="visible-xs-inline-block position-right">Messages</span>
                        <span class="badge bg-warning-400">2</span>
                    </a>


                </li>


            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Second navbar -->
    <!-- /second navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <div>
                    @RenderBody()

                </div>
                @*<div class="footer text-muted">
                        &copy; @DateTime.Now.Year. <a href="@Url.Action("Index", "Home")">Online Shop</a>
                    </div>*@
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <!-- Footer -->
    <!-- /footer -->
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>

 
<div id="customer_initial_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">Məlumat</h5>
            </div>
            <form action="#" class="form-horizontal">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ad</label>
                        <div class="col-sm-9">
                            
                            <input class="form-control" data-val="true" data-val-required="Ad boş ola bilməz" id="CustomerName" name="CustomerName" placeholder="Ad" type="text" >

                            <span class="text-danger">
                                <span class="field-validation-valid" data-valmsg-for="CustomerName" data-valmsg-replace="true">
                                    
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="CustomerEmail"  placeholder="Email">
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Telefon</label>
                        <div class="col-sm-9">
                           
                            <input class="form-control format-phone-number" data-val="true" data-val-required="Telefon məlumatı boş ola bilməz" id="CustomerPhone" name="CustomerPhone" placeholder="Telefon" type="text"  >

                            <span class="text-danger">
                                <span class="field-validation-valid" data-valmsg-for="CustomerPhone" data-valmsg-replace="true"> 
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Ünvan</label>
                        <div class="col-sm-9">
                            <input class="form-control" data-val="true" data-val-required="Ünvan məlumatı boş ola bilməz" id="CustomerAddress" name="CustomerAddress" placeholder="Ünvan" type="text" >

                            <span class="text-danger">
                                <span class="field-validation-valid" data-valmsg-for="CustomerAddress" data-valmsg-replace="true"> 
                                </span>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" id="btn-skip-customer-initial-modal">Davam et</button>
                    <button type="submit" class="btn btn-primary">Təsdiqlə</button>
                </div>
            </form>
        </div>
    </div>
</div>
